extends layout

block content
  link(rel='stylesheet', href='/stylesheets/register.css')
  div
    img(src='/images/Party_Logo.svg')
    form(class='form-register', action='/register', method='post', id='reg-form')
      .schoolnum
        label(for='schoolnum', class='sr-only') 学号
        input(type='text', name='schoolnum', id='schoolnum', class='form-control field-required', placeholder='学号')
      .password
        label(for='password', class='sr-only')
        input(type='password', name='password', id='password', class='form-control field-required', placeholder='密码')
      .repassword
        label(for='repassword', class='sr-only')
        input(type='password', name='repassword', id='repassword', class='form-control field-required', placeholder='再一次输入密码')
      button(type='submit', class='btn btn-lg btn-primary btn-block login_btn', id='submit', form='reg-form', value='submit') 注册
      a(class='btn btn-lg btn-primary btn-block login_btn', href='/') 返回
      - if (error)
        div(class='alert alert-danger', role='alert')
          strong #{error}
