extends layout

block content
  link(rel='stylesheet', href='/stylesheets/rules.css')
  - if (success)
    div(class='alert alert-success', role='alert')
      p #{success}
  div(class='alert alert-success pre-scrollable', role='alert', style="max-height:750px")
    h4(class='alert-heading') 参与规则
    p(class='alert-content') 1. 本次答题自2018年9月持续至2018年12月，系统每周定时发布知识问答题，面向全体研究生。
    p(class='alert-content') 
    p(class='alert-content') 2. “两学一做”知识问答题为10道，总限时为5分钟，5分钟之内未作答的题目则被视为放弃该题。
    p(class='alert-content') 
    p(class='alert-content') 3. 题型为单项选择题，每周只可答题三次，参赛者可在发布后的当周随时进入答题页面进行答题（超过当周周日24：00时则不能进行前一周答题），每答对一题计1分，答错或者不答不扣分。
    p(class='alert-content') 
    p(class='alert-content') 4. 参赛者在每次答题结束后，都可将成绩单页面上的二维码转发给朋友，朋友使用你给的链接答题后，你的贡献分将增加1分，并将计入总分，但每周最多允许邀请5人。
    p(class='alert-content') 
    p(class='alert-content') 5. 个人成绩排名将以总积分为准，总积分=答题分+贡献分。
    p(class='alert-content') 
    p(class='alert-content') 6. 参赛人员答题积分进行累计，在完成当月答题之后，月总积分排名在前5%，10%，20%的参与者，将由主办方分别颁发一、二、三等奖。一、二、三等奖一个月颁发一次。
    p(class='alert-content') 
    p(class='alert-content') 7. 根据校内党支部每周参赛人员比例及支部平均分情况评出优秀组织奖。参赛人员比例和支部党员平均分都达到全校研究生党支部前10%的支部优秀组织奖三个月颁发一次。
    p(class='alert-content') 
    p(class='alert-content') 8. 个人获奖者根据一、二、三等奖的成绩排名，将分别获得对应的精美奖品，并颁发奖状予以表彰。个人获奖情况将作为优秀党员的评审的重要依据之一。
    p(class='alert-content') 
    p(class='alert-content') 9. 对参赛人员比例较高，总积分排名较前的党支部将由主办方颁发优秀组织奖并予以表彰，支部获奖情况将作为优秀党支部评审的重要依据之一。
    p(class='alert-content') 
  a(class='btn btn-lg btn-primary btn-block login_btn', href='/question/list') 我明白了，开始答题
  a(class='btn btn-lg btn-primary btn-block login_btn', href='/user') 我不答了，返回上层
