extends layout

block content
  link(rel='stylesheet', href='/stylesheets/rules.css')
  - if (success)
    div(class='alert alert-success', role='alert')
      p #{success}
  div(class='alert alert-success', role='alert')
    h4(class='alert-heading') 参与规则
    p(class='alert-content') 1. 本次竞赛共持续1个月，得分最高的党支部以及个人可以获得奖励
    p(class='alert-content') 2. 本次竞赛每人每天可以答题3次，取最高/平均作为当天成绩
    p(class='alert-content') 3. 每次题目共10道单选题，答对1分，答错不扣分
    p(class='alert-content') 4. 除答题得分外，还包含邀请得分，每人每天可以邀请3人，每邀请一人得0.5分
    p(class='alert-content') 5. 以上规则都是我编的，到时候再说 :)
  a(class='btn btn-lg btn-primary btn-block login_btn', href='/question/list') 我明白了，开始答题
  a(class='btn btn-lg btn-primary btn-block login_btn', href='/user') 我不答了，返回上层
