body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.alert {
  font-size: 35px;
}

.schoolnum,
.card-slogan,
.card {
  margin-top: 20px;
  font-size: 45px;
}

.card-hint,
.card-credits {
  margin-top: 20px;
  font-size: 35px;
}

.btn {
  font-size: 40px;
}
